#SignUpForm{
    margin-left: 35px;
    margin-top: 20px;
    margin-right: 35px;
    background-color: #F1EEEA;
    overflow-y: auto;
}

#title{
    width: 266px;

    font-weight: 400;
    font-size: 96px;

    color: #F9A800;
    padding: 0;
    margin: 0;

}

#subtitle{
    /* Looks like you’re new here */
    max-width: 408px;
    width: 100%;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    padding-top: 10;
    margin: 0;

    color: #000000;
}