#LeaderboardEntryListComponent{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
}
.leaderboardPhoto{
    width: 30px;
    height: 30px;
}

#LeaderboardEntry{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.leaderboardEntryImage{
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.leaderboardRightSide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    width: 790px;
    height: 50px;

    background: #F1EEEA;
    border: 3px solid #014421;
    border-radius: 20px;
}

.leaderboardText{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 70px;
    color: #000000;
}

.leaderboardEntryLevel{
    width:50px;
    text-align: center;
}
.firstDiv{
    width: 30px;
    padding-left: 20px;
}

.secondDiv{
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;

    text-overflow: clip !important;
    text-align: left;
}

.thirdDiv{
    width: 250px;

    padding-left: 10px;
    padding-right: 10px;
}

.fourthDiv{
    width: 31px;

    padding-left: 10px;
    padding-right: 10px;
}

.fifthDiv{
    width: 60px;
    margin:0;
    padding-left: 10px;
    padding-right: 20px;
}


@media(max-width: 905px){
    .fourthDiv{
        display: none;
    }

    .secondDiv{
        display: none;
    }

    .thirdDiv{
        width: 100%;
    }
    .leaderboardRightSide{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        height: 50px;
        width: 100%;
        background: #F1EEEA;
        border: 3px solid #014421;
        border-radius: 20px;
    }

    .fifthDiv{
        width: 80px !important;
        padding: 0px 10px 0px 0px;
        margin: 0;
    }
    .leaderboardSection{
        width: 90%
    }
    #Leaderboard{
        width: 100%
    }
}
