#PhotoDisplay{
    width: 180px;
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:row;

}

.photoDisplayObj{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid #014421;
    background-color: white;
}

#numberObj{
    background-color:black;
    border-radius: 25px;

    width: 40px;
    height: 40px;
    color: white;
    position:relative;
    left: -17px;
    z-index: 3;
}

.lastPhotoDisplay{
    display: flex;
    justify-content: center;
    align-items: center;

}

.lastPhotoText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    padding:0;
}

@media(max-width: 450px){
    .photoDiv{
        display: none !important;
    }
    #PhotoDisplay{
        display: none;
    }
    #BoxLine{
        display: none;
    }

}