
.exercisePicker{
    margin-left: 10px;
}

.challengeStatsSection{
    padding-bottom: 40px;
    width:100%;
}

.statsChallengeHistory{
    width: 100%;
}

.exerciseStatsSection{
    padding-bottom: 40px;
    width:100%;
}